apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: lcd-writer
  namespace: flux-system
spec:
  interval: 10m
  path: ./infrastructure/lcd-writer
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  timeout: 2m
