apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: openwebui
  namespace: flux-system
spec:
  interval: 10m
  path: ./infrastructure/openwebui
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true
  timeout: 5m

